* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main__title {
  text-align: center;
  padding-top: 30px;
  color: #261644;
}

.nav__item {
  text-decoration: none;
  color: #261644;
  font-weight: bold;
  font-size: 20px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  background: #699e34;
  border-bottom: 1px solid chartreuse;
}

.main {
  display: flex;
  flex-direction: column;
  background: #699e34;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pockemonCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.pokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 270px;
  border-radius: 30px;
  background: #f16405;
  margin-bottom: 20px;
  color: #261644;
}

.pokemonCard__img {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.pokemonCard__header {
  padding-top: 5px;
  font-size: 20px;
}

.pokemonCard__button {
  border: none;
  margin-top: 10px;
  border-radius: 20px;
  background: #9acd32;
}
